*{
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}

ol, ul{
	list-style: none;
}

a{
	text-decoration: none;
}

body{
	font-family: 'Lato', sans-serif;  
}

/* navbar part css start  */
.navbar-brand span{
	font-weight: 700;
	font-size: 28px;
	margin-left: 10px;

}
.nav-item{
	margin: 10px 15px;
}

.nav-link, .active{
	font-size: 16px;
}

/* navbar part css end */

/* banner part css start  */
.carousel-caption {
   bottom: 25.25rem;
}

.carousel-caption h2{
	font-size: 120px;
	position: relative;
	font-weight: bold;
}

.carousel-caption h2::after{
	position: absolute;
	content: "";
	width: 45%;
	height: 2px;
	background-color: #15a4fa;
	bottom: 0px;
	left: 27%;
}

.carousel-caption p{
	font-size: 20px;
	font-family: 'Lato', sans-serif; 
	margin-top: 15px;
}

.carousel-caption button {
    width: 140px;
    height: 50px;
    text-align: center;
    border: 2px solid #15a4fa;
	border-radius: 4px;
	background: none;
	color: white;
	margin-top: 30px;
	transition: all linear .3s;
	font-size: 18px;
}

.carousel-caption button:hover{
	background-color: #15a4fa;
	transition: all linear .3s;
}

.carousel-item img{
	height: px;
}
.carousel-control-prev, .carousel-control-next{
	visibility: hidden;
}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
	border-radius: 50%;
	margin-top: 10px;
}

.carousel-indicators {
    bottom: -12px;
}


/* banner part css end */


/* design part css start  */
#design_part{
	text-align: center;
	padding: 80px 0;
	background-color: #f6f9f9;
}

#design_part .commond_heading h4{
	font-size: 40px;
	margin-bottom: 20px;
}
/* design part css end */


/* design content part css start  */
#design_content{
	padding: 66px 0;
	text-align: center;
}

.design_content_img img{
	margin-bottom: 30px;
	
}

.design_content_text h5{
	font-size: 22px;
}
.design_content_text p{
	font-size: 15px;
}
/* design content part css end */

/* gallery part css start  */
#gallery{
	text-align: center;
	padding: 50px 0 70px;
	background-color: #f6f9f9;
}

#gallery .common_heading{
	text-align: center;
	margin: 70px 0;
}

.gallery_img{
	position: relative;
	margin-bottom: 20px;
	
}



.gallery_overlay {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #2cacf7;
	opacity: 0.8;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;

}

.gallery_overlay a{
	margin: 0 10px;
	border: 1px solid white;
	display: inline-block;
	width: 50px;
	height: 50px;
	line-height: 45px;
	background-color: none;

}

.gallery_overlay a:hover{
	background-color: white;
	
}

.gallery_overlay a:hover span{
	color: #15a4fa;
}


.gallery_overlay a span{
	color: white;
}

.gallery_img:hover .gallery_overlay{
	visibility: visible;

}
/* gallery part css end  */


/* form section css start  */
#form_section{
	background: url(../images/form_overlay.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 60px 0 100px;
}
#form_section .common_heading{
	text-align: center;
}

#form_section .common_heading h4{
	font-size: 30px;
	color: #fff;
}

#form_section .common_heading p{
	font-size: 16px;
	color: #999999;
}

.form_main{
	position: relative;
}

.form_main form input[type=text], .form_main form input[type=email]{
	display: inline-block;
	width: 100%;
	margin: 8px 0;
	padding: 14px 20px;
	background: none;
	border: 1px solid #999999;
	color: #999999;
	border-radius: 4px;
} 

.form_main form textarea{
	display: inline-block;
	width: 100%;
	margin: 8px 0 20px;
	padding: 14px 20px;
	background: none;
	border: 1px solid #999999;
	color: #999999;
	border-radius: 4px;
}

.form_main form input[type=checkbox]{
	cursor:pointer;
	width: 20px;
	height: 20px;
	position: absolute;
	bottom: 1px;
}

.form_main form input[type=checkbox] + label{
	color: white;
	font-size: 15px;
	margin-left: 30px;
	display: inline-block;
}

.form_main form input[type=submit]{
	position: absolute;
	right: 0;
	display: inline-block;
	width: 140px;
	height: 40px;
	line-height: 30px;
	text-align: center;
	border-radius: 4px;
	background: none;
	color: white;
	border: 1px solid #15a4fa;
}

.form_main form input[type=submit]:hover{
	background-color: #15a4fa;
}
/* form section css end */

/* footer part css start  */
footer{
	padding: 20px 0;
}

.footer_content{
	margin-top: 15px;
	color: #999999;
}
.footer_social{
	display: flex;
	justify-content: flex-end;
    
}

.footer_social a{
	display: inline-block;
	width: 50px;
	height: 50px;
	background-color: #15a4fa;
	margin: 0 5px;
	color: white;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
	border-radius: 2px;
}
/* footer part css end */


