*{
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}

ol, ul{
	list-style: none;
}

a{
	text-decoration: none;
}

body{
	font-family: 'Lato', sans-serif;  
}

/* navbar part css start  */
.navbar-brand span{
	font-weight: 700;
	font-size: 28px;
	margin-left: 10px;

}
.nav-item{
	margin: 10px 15px;
}

.nav-link, .active{
	font-size: 16px;
}

/* navbar part css end */
